@import "vars";
@import "global";

// start header

.header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 83px;
}
.menu__list {
	display: flex;
	font-weight: 500;
	font-size: 18px;
	li{
		transition: all 0.6s;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -3px;
			right: 0;
			background-color: $red;
			transition: all 0.3s;
		}
		&:hover{
			&::before{
				width: 100%;
				left: 0;
			}
		}
	}
	li + li {
		margin-left: 50px;
	}
}

.menu__btn{
	display: none;
	width: 44px;
	cursor: pointer;
	div + div{
		margin-top: 10px;
	}
	div{
		height: 2px;
		background-color: $text;
	}
}

.header__phone {
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid $text;
}

.header__bottom-inner {
	display: flex;
	position: relative;
}
.offer {
	&__title {
		font-weight: 700;
		font-size: 70px;
		max-width: 480px;
		margin-bottom: 23px;
	}
	&__text {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 50px;
	}
	&__btn-box {
		max-width: 304px;
		height: 60px;
		position: relative;
		margin-bottom: 130px;
		&::before {
			content: "";
			position: absolute;
			border: 2px solid #fff;
			bottom: -10px;
			right: -10px;
			width: 304px;
			height: 60px;
		}
		.offer__btn {
			padding: 15px 95px;
			background-color: $red;
			color: #fff;
			font-weight: 600;
			font-size: 24px;
			position: relative;
		}
	}
}

.services {
	display: flex;
	justify-content: space-between;
	max-width: 546px;
	width: 100%;
	padding-bottom: 83px;
	&__moving {
		position: relative;
		padding-left: 60px;
		&::before {
			content: "";
			position: absolute;
			background-image: url("../images/icons/truck.svg");
			background-repeat: no-repeat;
			width: 52px;
			height: 39px;
			left: 0;
			top: 0;
		}
	}
	&__packing {
		position: relative;
		padding-left: 50px;
		&::before {
			content: "";
			position: absolute;
			background-image: url("../images/icons/pakage.svg");
			background-repeat: no-repeat;
			width: 40px;
			height: 38px;
			left: 0;
			top: 0;
		}
	}
	&__fix-price {
		position: relative;
		padding-left: 50px;
		&::before {
			content: "";
			position: absolute;
			background-image: url("../images/icons/money.svg");
			background-repeat: no-repeat;
			width: 41px;
			height: 41px;
			left: 0;
			top: 0;
		}
	}
}
.human__image-medium{
	display: none;
}
.human__image {
	margin-bottom: -4px;
	margin-left: 67px;
	img{
		max-width: 100%;
	}
}

/*кнопка звонка*/

.callback-bt {
	background: #38a3fd;
	border: 2px solid #38a3fd;
	border-radius: 50%;
	box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
	cursor: pointer;
	height: 68px;
	text-align: center;
	width: 68px;
	position: absolute;
	right: 20px;
	bottom: 40px;
	z-index: 999;
	transition: 0.3s;
	-webkit-animation: hoverWave linear 1s infinite;
	animation: hoverWave linear 1s infinite;
}

.callback-bt .text-call {
	height: 68px;
	width: 68px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.callback-bt .text-call span {
	text-align: center;
	color: #38a3fd;
	opacity: 0;
	font-size: 0;
	position: absolute;
	right: 4px;
	top: 22px;
	line-height: 14px;
	font-weight: 600;
	text-transform: uppercase;
	transition: opacity 0.3s linear;
	font-family: "montserrat", Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
	opacity: 1;
	font-size: 11px;
}
.callback-bt:hover i {
	display: none;
}

.callback-bt:hover {
	z-index: 1;
	background: #fff;
	color: transparent;
	transition: 0.3s;
}
.callback-bt:hover i {
	color: #38a3fd;
	font-size: 40px;
	transition: 0.3s;
}
.callback-bt i {
	color: #fff;
	font-size: 34px;
	transition: 0.3s;
	line-height: 66px;
	transition: 0.5s ease-in-out;
}

.callback-bt i {
	animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
	-webkit-animation: 1200ms ease 0s normal none 1 running shake;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2),
			0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0),
			0 0 0 26.7px rgba(56, 163, 253, 0.067);
	}
	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
	}
}
@keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2),
			0 0 0 0 rgba(56, 163, 253, 0.2);
	}
	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0),
			0 0 0 26.7px rgba(56, 163, 253, 0.067);
	}
	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0);
	}
}

/* animations icon */

@keyframes shake {
	0% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
	10% {
		transform: rotateZ(-30deg);
		-ms-transform: rotateZ(-30deg);
		-webkit-transform: rotateZ(-30deg);
	}
	20% {
		transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		-webkit-transform: rotateZ(15deg);
	}
	30% {
		transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		-webkit-transform: rotateZ(-10deg);
	}
	40% {
		transform: rotateZ(7.5deg);
		-ms-transform: rotateZ(7.5deg);
		-webkit-transform: rotateZ(7.5deg);
	}
	50% {
		transform: rotateZ(-6deg);
		-ms-transform: rotateZ(-6deg);
		-webkit-transform: rotateZ(-6deg);
	}
	60% {
		transform: rotateZ(5deg);
		-ms-transform: rotateZ(5deg);
		-webkit-transform: rotateZ(5deg);
	}
	70% {
		transform: rotateZ(-4.28571deg);
		-ms-transform: rotateZ(-4.28571deg);
		-webkit-transform: rotateZ(-4.28571deg);
	}
	80% {
		transform: rotateZ(3.75deg);
		-ms-transform: rotateZ(3.75deg);
		-webkit-transform: rotateZ(3.75deg);
	}
	90% {
		transform: rotateZ(-3.33333deg);
		-ms-transform: rotateZ(-3.33333deg);
		-webkit-transform: rotateZ(-3.33333deg);
	}
	100% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
}

@-webkit-keyframes shake {
	0% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
	10% {
		transform: rotateZ(-30deg);
		-ms-transform: rotateZ(-30deg);
		-webkit-transform: rotateZ(-30deg);
	}
	20% {
		transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		-webkit-transform: rotateZ(15deg);
	}
	30% {
		transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		-webkit-transform: rotateZ(-10deg);
	}
	40% {
		transform: rotateZ(7.5deg);
		-ms-transform: rotateZ(7.5deg);
		-webkit-transform: rotateZ(7.5deg);
	}
	50% {
		transform: rotateZ(-6deg);
		-ms-transform: rotateZ(-6deg);
		-webkit-transform: rotateZ(-6deg);
	}
	60% {
		transform: rotateZ(5deg);
		-ms-transform: rotateZ(5deg);
		-webkit-transform: rotateZ(5deg);
	}
	70% {
		transform: rotateZ(-4.28571deg);
		-ms-transform: rotateZ(-4.28571deg);
		-webkit-transform: rotateZ(-4.28571deg);
	}
	80% {
		transform: rotateZ(3.75deg);
		-ms-transform: rotateZ(3.75deg);
		-webkit-transform: rotateZ(3.75deg);
	}
	90% {
		transform: rotateZ(-3.33333deg);
		-ms-transform: rotateZ(-3.33333deg);
		-webkit-transform: rotateZ(-3.33333deg);
	}
	100% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
}
/* конец кнопки звонка */

// end header

// start process

.process {
	padding-bottom: 45px;
}
.container-process {
	max-width: 1106px;
}
.process__title {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 78px;
}
.process__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.process__item {
	width: 50%;
	margin-top: 50px;
	max-width: 480px;
	padding-left: 90px;
	position: relative;
	&::before {
		position: absolute;
		left: 0;
		top: 0;
		font-weight: 300;
		font-size: 50px;
		text-shadow: 1px 1px 2px $yellow;
	}
	&-title {
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 15px;
	}
}
.process__item-one {
	&::before {
		content: "01";
	}
}
.process__item-two {
	&::before {
		content: "02";
	}
}
.process__item-three {
	&::before {
		content: "03";
	}
}
.process__item-four {
	&::before {
		content: "04";
	}
}

// end process

// start price
.price {
	padding-top: 59px;
	padding-bottom: 67px;
}

.price__title {
	text-align: center;
	margin-bottom: 15px;
}
.price__subtitle {
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	margin-bottom: 60px;
}
.price__inner {
	display: flex;
	justify-content: center;
}
.price__item {
	max-width: 416px;
	width: 100%;
	padding: 80px 83px;
	text-align: center;
	border: 1px solid #ebebeb;
	transition: all .3s;
	&:hover {
		border: 1px solid $yellow;
		box-shadow: 0px 5px 10px 2px rgba(79, 80, 34, 0.2);
		transform: translateY(-5px);
	}
	& + .price__item {
		margin-left: 25px;
	}
	&-title {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 60px;
	}
	&-car {
		margin-bottom: 25px;
	}
	&-loader {
		margin-bottom: 25px;
	}
	&-time {
		margin-bottom: 25px;
	}
	&-money {
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 52px;
	}
	&-btn {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		padding: 14px 79px 12px 77px;
		background-color: $yellow;
		cursor: pointer;
		margin-bottom: 20px;
		display: block;
	}
	
}
.price__item-btn.price__btn-small{
	display: none;
}
.all__price{
	display: inline;
	border-bottom: 1px solid $text;
	display: none;
}
// end price

// start slider
.car-park{
padding-bottom: 40px;
padding-top: 48px;
}

.tabs__caption {
	display: flex;
	justify-content: center;
	.trucks {
		padding: 13px 46px;
	}
	.gazelles {
		padding: 13px 64px;
	}
	.heels {
		padding: 13px 56px;
	}
	li {
		text-align: center;
		max-width: 201px;
		width: 100%;
		border: 1px solid #ebebeb;
		cursor: pointer;
		&.active {
			border: 1px solid $yellow;
		}
	}
	li + li {
		margin-left: 19px;
	}
}

.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: block; /* по умолчанию показываем нужный блок */
}

.slider__item {
	margin-top: 47px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	.slider__info{
		&-title {
			margin-bottom: 37px;
			font-weight: 600;
			font-size: 24px;
		}
		&-width{
			padding-left: 31px;
			margin-bottom: 28px;
			position: relative;
		}
		&-height{
			padding-left: 31px;
			margin-bottom: 28px;
			position: relative;
		}
		&-volume{
			padding-left: 31px;
			margin-bottom: 28px;
			position: relative;
		}
		&-carrying{
			padding-left: 31px;
			margin-bottom: 35px;
			position: relative;
		}
	}
}

.slider__info-small{
	font-size: 12px;
	display: none;
}
.check-left{
	position: absolute;
	&::before{
		content: '';
		position: absolute;
		background-image: url('../images/icons/check.svg');
		background-repeat: no-repeat;
		left: 0;
		top: 0;
		width: 14px;
		height: 14px;
	}
}
.slider__image{
	margin-left: 112px;
	img{
		max-width: 641px;
		width: 100%;
	}
}
.slick-prev{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	z-index: 1;
}
.slick-next{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	z-index: 1;
}
.gazzel-img{
	filter: grayscale(1);
}
// end slider


// start reviews

.reviews{
	background-color: $yellow;
	padding-top: 100px;
	padding-bottom: 94px;
}
.reviews__title{
	text-align: center;
	margin-bottom: 60px;
}
.reviews__inner{
	display: flex;
	justify-content: space-between;
}
.reviews__item{
	max-width: 420px;
	& + &{
		margin-left: 15px;
	}
	&-name{
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 10px;
	}
	&-info{
		margin-bottom: 19px;
	}
	&-text{
		margin-bottom: 18px;
	}
	&-link{
		border-bottom: 1px solid $text;
	}
}
.reviews__btn{
	display: flex;
	justify-content: center;
	.reviews__link-all{
		width: 250px;
		margin-top: 59px;
		text-align: center;
		padding: 13px 64px;
		border: 1px solid $text;
	}
}
.reviews__item-info{
	.reviews__time{
		margin-right: 9px;
	}
	display: flex;
}
// end reviews

// start order

.container-order{
	max-width: 1002px;
}

.order{
	padding-top: 124px;
	padding-bottom: 134px;
}
.order__title{
	margin-bottom: 10px;
}
.order__text{
	margin-bottom: 7px;
}
.order__inner{
	form{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		input{
			outline: none;
			padding-left: 5px;
			padding-right: 5px;
			margin-top: 40px;
			max-height: 34px;
			border: none;
			border-bottom: 1px solid $text;
			margin-right: 70px;
			padding-bottom: 10px;
			font-weight: 500;
			font-size: 20px;
			&::placeholder{
				font-weight: 500;
				font-size: 20px;
			}
		}
		input:last-child{
			margin-right: 0;
		}
		.order__btn-box{
			margin-top: 45px;
			width: 250px;
			height: 50px;
			position: relative;
			margin-bottom: 22px;
			.check__btn{
				margin-top: 14px;
				margin-right: 10px !important;
			}
		&::before {
			content: "";
			position: absolute;
			border: 2px solid $yellow;
			bottom: -10px;
			right: -10px;
			width: 250px;
			height: 50px;
		}
		p{
			font-size: 12px;
		}
		}
		.order__btn{
			white-space: nowrap;
			max-height: 50px;
			border: none;
			padding: 13px 31px;
			background-color: $red;
			color: #fff;
			font-weight: 500;
			font-size: 20px;
			position: relative;
			cursor: pointer;
		}
	}
	.order__check-btn{
		display: block;
		font-size: 12px;
	}
	
}

// end order

// start maps

.maps__inner{
	position: relative;
	margin-bottom: -4px;
}
.maps__info{
	max-width: 386px;
	position: absolute;
	background-color: #fff;
	padding: 40px 35px 112px;
	bottom: 189px;
	left: 450px;
	&-title{
		margin-bottom: 40px;
	}
	&-adress{
		margin-bottom: 19px;
	}
	&-phone{
		margin-bottom: 20px;
	}
	&-email{
		border-bottom: 1px solid $text;
		display: inline;
	}
	.social-icons{
		position: absolute;
		display: flex;
		bottom: 40px;
		right: 40px;
		li{
			&:hover{
				transform: rotate(-30deg);
				path:hover{
					fill: $red;
				}
				transition: all .3s;
			}
		}
		li + li{
			margin-left: 25px;
		}
	}
}

// end maps

// start footer

.footer{
	padding: 100px 307px 102px;
	background-color: $yellow;
}
.footer__inner{
	display: flex;
	justify-content: space-between;
}
.footer__info{
	max-width: 310px;
	width: 100%;
	&-title{
		margin-bottom: 44px;
		
	}
	&-privacy{
		margin-bottom: 36px;
		width: 200px;
	}
	&-personal{
		width: 230px;
	}
}
.footer__links{
	width: 310px;
	&-menu{
		font-weight: 500;
		font-size: 20px;
		li + li{
			margin-top: 15px;
		}
	}
}
.footer__social{
	width: 310px;
	&-icons{
		display: flex;
		li{
			&:hover{
				transform: rotate(-30deg);
				path:hover{
					fill: $red;
				}
				transition: all .3s;
			}
		}
		li + li{
			margin-left: 31px;
			margin-bottom: 20px;
		}
	}
	&-email{
		display: inline;
		border-bottom: 1px solid $text;
		font-weight: 500;
		font-size: 20px;
	}
}

.footer__call{
	width: 310px;
	&-back{
		padding: 10px 31px;
		border: 1px solid $text;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;
		white-space: nowrap;
		cursor: pointer;
	}
	.footer__phone{
		border-bottom: 1px solid $text;
		display: inline;
		font-weight: 500;
		font-size: 20px;
		margin-left: 41px;
	}
}
.footer__order-btn{
	padding-top: 17px;
	display: none;
	width: 292px;
	height: 60px;
}
// end footer


@import "media"